[submodule "include/ffmpeg"]
	path = include/ffmpeg
	url = https://github.com/OmgRod/FFmpeg
	branch = master

[submodule "include/GDAddons"]
	path = include/GDAddons
	url = https://github.com/OmgRod/GDAddons
	branch = main
