[submodule "include/ffmpeg"]
	path = include/ffmpeg
	url = https://github.com/OmgRod/FFmpeg
	branch = master

[submodule "include/gd-addons"]
	path = include/gd-addons
	url = https://github.com/OmgRod/GDAddons
	branch = main
